nav.footer-nav {
  margin-top: 6em;
}

nav.footer-nav h3 {
  text-align: center;
}

nav.footer-nav ul {
  margin: 2em 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

nav.footer-nav ul li {
  display: inline-block;
  margin: 0 1em;
  padding: 0;
}

nav.footer-nav ul li:first-child {
  margin-left: 0;
}

nav.footer-nav ul li:last-child {
  margin-right: 0;
}
