<div class="relative w-100 mb4 bg-white nested-copy-line-height">
  <div class="bg-white mb3 pa4 gray overflow-hidden">
    <span class="f6 db">{{ humanize .Section }}</span>
    <h1 class="f3 near-black">
      <a href="{{ .URL }}" class="link black dim">
        {{ emojify .Title }}
      </a>
    </h1>
    {{ with .Resources.ByType "image" }}
      <aside class="mini-gallery">
      {{ range . }}
        {{ $image := (.Fill "100x100")}}
        <figure>
          <img alt="{{ .Title }}" src="{{ $image.RelPermalink }}"/>
        </figure>
      {{ end }}
      </aside>
    {{ end }}
    <div class="nested-links f5 lh-copy nested-copy-line-height">
      {{ emojify .Summary  }}
    </div>
  </div>
</div>
